<nav class="navbar navbar-default navbar-fixed-top background-navbar">
    <div class="container">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button >
             <a class="navbar-brand header_image" href="#" ng-init="myLogo = 'assets/images/cancervue_logo_home.png'" onclick="topFunction()"><img ng-src="{{myLogo}}" alt="" class="img-responsive" ></a>
          </div>


      <div class="collapse navbar-collapse toggle-header" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" >
          <li><a href="#" onclick="topFunction()">HOME</a></li>
          <li class="dropdown multi-level ">
            <a  class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">LAYANAN <span class="caret"></span></a>
            <ul class="dropdown-menu menu-toggle">
              <!-- <li class="dropdown-submenu multi-level">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">HCS</a>
                  <ul class="dropdown-menu">
                      <li><a href="#!layanan-hcs" onclick="topFunction()">Tentang HCS</a></li>
                      <li><a href="#!layanan-detail-hcs" onclick="topFunction()">Detail HCS</a></li>
                      <li class="divider"></li>
                  </ul>
              </li> -->
              <li><a href="#!layanan-hcs" onclick="topFunction()">HCS</a></li>
              <li class="divider"></li>
              <li><a href="#!layanan-brca" onclick="topFunction()">BRCA</a></li>
              <li><a href="#!layanan-sma" onclick="topFunction()">SMA</a></li>
              
            </ul>
          </li>
          <li><a href="#!blog">BLOG</a></li>
          <li><a href="#!contact">TENTANG KAMI</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

