<link rel="stylesheet" href="assets/css/scroll.css">

<!-- Header Gambar -->
<section class="bg-img">
  <div class="container word-header">
    <div class="row">
      <div class="col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-11 col-xs-offset-1">
          <p>Memahami cara kerja genetik, untuk mendeteksi dini dan menentukan pengobatan yang tepat.</p>
      </div>
    </div>
  </div>
</section>

  

<!-- Header Image Bawah -->
<section>
  <div class="header-bawah">
  </div>

</section>
<!-- Header Image Bawah -->

<section>
  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="welcome">Cancervue by Genetics Indonesia memungkinkan Anda memahami profil genetik Anda 
              untuk mendeteksi risiko kanker dan menemukan pengobatan yang tepat, menggunakan teknologi 
              terkini.
          </h1>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <hr class="onepixel">
          <h1 class="judul">    
              Canservue by Genetics Indonesia
          </h1>
          <hr class="onepixel">
        </div>
      </div>
  </div>
</section>

<section>
  <div class="container">
    
  </div>
</section>





