<link rel="stylesheet" href="assets/css/hcs/header.css">
<link rel="stylesheet" href="assets/css/scroll.css">

<!-- barisan 1 -->
<section class="bg-img hcs">
        <div class="container word-header-hcs">
          <div class="row">
            <div class="col-md-7 col-md-offset-5 col-sm-12 col-sm-offset-0 col-xs-11 col-xs-offset-0">
                <img class="image-1 img-responsive hcs-logo" ng-src="assets/images/hcs/{{logoHcs}}"/>
                <p>Deteksi risiko kanker sejak dini melalui pemeriksaan genetik</p>
            </div>
          </div>
        </div>
</section>
<!-- barisan 1 -->

<!-- Barisan 2 -->
<section class="bg-img hcs-2">
    <div class="container">
        <h1 class="header-hcs-2">Apa itu Kanker Bawaan?</h1>
    </div>    
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="caption-hcs-2">Kita semua mewarisi gen dari orang tua kita. Sebagian dari gen ini, seperti Tumour
                            Suppressor Gene, bekerja untuk   melindungi   kita   dari   berkembangnya  
                                jenis kanker   tertentu.   Ada   kalanya, gen yang kita warisi telah   
                                mengalami    mutasi.   Mutasi ini  bisa   bersifat membahayakan,  
                                menguntungkan,  netral, atau tidakmemiliki dampak yang jelas  terhadap 
                                    kesehatan kita.
        
                        </p>
                        <p class="caption-hcs-2">Mutasi    yang    bersifat     membahayakan      
                            dapat meningkatkan kerentanan kita untuk mengidap kanker tertentu seperti kanker 
                                payudara, dinding  rahim,  dan
                                prostat.</p>
                </div>
                
            </div>

        </div>
</section>
<!-- Barisan 2 -->

<section class="bg-img hcs-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="header-hcs-3">HEREDITARY CANCER SCREENING</h1>
                <p class="caption-hcs-3">Melalui Hereditary Cancer Screening, sebanyak  32 
                        gen  yang   diasosiasikan   dengan   8  jenis  kanker 
                        akan   dianalisa    menggunakan    teknologi     Next 
                        Generation    Sequencing    (NGS)     dari    Illumina. 
                </p>
                <p class="caption-hcs-3">Pemeriksaan dapat  dilakukan  dengan  mudah  dan 
                        cepat, yaitu   dengan   menggunakan  sampel  DNA
                        yang diperoleh dari olesan bagian dalam pipi. 
                </p>
                
                <div class="bungkus-pelajari">
                    <a href="#" class="hcs-pelajari" >
                            <img ng-src="assets/images/hcs/{{pelajariOff}}" class="image-pelajari-1">
                            <img ng-src="assets/images/hcs/{{pelajariOn}}" class="image-pelajari-2">
                    </a>
                </div>
                
          
            </div>
        </div>
    </div>
</section>


