

<!-- Barisan 1 -->
<section class="brca-1">
   <div class="container">
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <img class="img-responsive brca-logo-1" src="assets/images/brca/logo-BRCA.PNG">
                <p class="brca-1-caption">
                    Ketahui risiko kanker payudara dan ovarium sejak dini dan ambil tindakan 
                    pencegahan yang tepat
                </p>
            </div>
        </div>
   </div>
</section>

<!-- Barisan 2 -->
<hr class="onepixcel-brca">
<section class="brca-2">
    <div class="container">
        <div class="row">

                <div class="col-md-6">
                        <button class="brca-2-button-left tablink" onclick="openPage('brca-2-left', this, '#ef6291')" id="defaultOpen">
                                APA ITU BRCA ?
                        </button>
                </div>
                <div class="col-md-6">
                        <button class=" brca-2-button-left tablink" onclick="openPage('brca-2-right', this, '#ef6291')" >
                                HASIL BRCA SCREENING
                        </button>
                </div>
                
               
        </div>
    </div>
</section> 


<div id="brca-2-left" class="tabcontent">
  <div class="brca-2-left-bg">
        
  </div>
  
  <div class="container">
      <div class="row">
            <div class="col-md-6">
                    <h1 class="brca-2-left-header">Apa yang dimaksud dengan BRCA ?</h1>
                    <p class="brca-2-left-caption">
                        Semua orang memiliki gen BRCA1 dan BRCA2 di dalam tubuhnya yang diturunkan dari kedua orang tua. Mutasi pada
                        gen BRCA1 atau 2 berhubungan erat dengan meningkatnya risiko seseorang terkena kanker payudara dan ovarium.
                    </p>
                    <p class="brca-2-left-caption">
                        BRCA 1 & 2 adalah gen yang memproduksi tumor suppresor protein, yang bertugas untuk memperbaiki DNA yang rusak
                        dan mengontrol pertumbuhan sel-sel di dalam tubuh. Ketika terjadi mutasi pada gen BRCA1 atau BRCA2 tersebut,
                        pertumbuhan sel-sel menjadi tidak terkontrol, yang kemudian dapat berkembang menjadi sel-sel kanker.
                    </p>
            </div>
            <div class="col-md-6 brca-2-tabel">
                    <img class="img-responsive" src="assets/images/brca/Tabel-BRCA-kanan.png">
            </div>
      </div>
  </div>

  <div class="brca-3-left-bg">
      <div class="container">
        <div class="row">
             <div class="col-md-6">
                <p class="brca-3-caption-left">
                    Mutasi membahayakan pada gen <b class="brca-b">BRCA1</b> atau <b class="brca-b">BRCA2</b> meningkatkan risiko seseorang terkena kanker payudara
                    hingga <b class="brca-b-gede">80%</b> dan kanker ovarium hingga <b class="brca-b-gede">23%</b>
                </p>
             </div>
             <div class="col-md-6">

             </div>
        </div>
      </div>

  </div>

  <div class="brca-4-left-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-5">

            </div>
            <div class="col-md-7 brca-4-left-position-text">
                <h1 class="brca-4-left-header">Siapa saja yang membutuhkan pemeriksaan BRCA Screening ?</h1>
                <p class="brca-4-left-caption">
                    BRCA Screening dianjurkan bagi wanita yang berisiko tinggi terkena kanker payudara dan ovarium :
                    <ul class="brca-4-left-caption">
                        <li>Memiliki anggota keluarga yang didiagnosis kanker payudara, dikarenakan variasi gen BRCA1 atau BRCA2.</li>
                        <li>Memiliki anggota keluarga yang didiagnosis memiliki kanker payudara atau ovarium di usia &#x2266; 60 tahun. </li>
                        <li>Memiliki anggota keluarga dengan riwayat dua atau lebih jenis kanker yang berkaitan dengan gen BRCA1 atau 
                            BRCA2 seperti kanker payudara, ovarium, prostat dan pankreas.
                        </li>
                        <li>Memiliki anggota keluarga laki-laki yang terkena kanker payudara.</li>
                    </ul> 
                </p>
            </div>
        </div>
    </div>
  </div>
</div>

<div id="brca-2-right" class="tabcontent">
  <h3>News</h3>
  <p>Some news this fine day!</p> 
</div>





<br><br><br><br><br><br><br><br><br><br><br><br><br>





<script>
    function openPage(pageName, elmnt, color){
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++){
            tabcontent[i].style.display = "none";
        }
        tablinks =document.getElementsByClassName("tablink");
        for (i= 0 ; i < tablinks.length; i++){
            tablinks[i].style.backgroundColor = "";
        }
        document.getElementById(pageName).style.display = "block";
        elmnt.style.backgroundColor = color;
    }

    document.getElementById("defaultOpen").click();
</script>