<link rel="stylesheet" href="assets/css/hcs/header.css">
<link rel="stylesheet" href="assets/css/scroll.css">
<link rel="stylesheet" href="assets/css/alamat_custom.css">
<link rel="stylesheet" href="assets/css/hcs/detail.css">

<!-- barisan 1 -->
<section class="bg-img hcs">
    <div class="container word-header-hcs">
      <div class="row">
        <div class="col-md-7 col-md-offset-5 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-2  ">
            <img class="image-1 img-responsive hcs-logo" ng-src="assets/images/hcs/{{logoHcs}}"/>
            <p>Deteksi risiko kanker sejak dini melalui pemeriksaan genetik</p>
        </div>
      </div>
    </div>
</section>
<!-- barisan 1 -->

<!-- Barisan 2 -->
<section class="hcs-detail">
    <div class="container detail-posisi">
        <div class="row">
            <div class="col-md-7">
                <h1 class="header-detail">HEREDITARY CANCER SCREENING </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <p class="caption-detail">
                    Melalui Hereditary Cancer Screening, sebanyak  32 
                    gen  yang   diasosiasikan   dengan   8  jenis  kanker 
                    akan   dianalisa    menggunakan    teknologi     Next 
                    Generation    Sequencing    (NGS)     dari    Illumina. 
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Barisan 2 -->

<!-- Barisan 3 -->
<section class="hcs-detail-2">
    <div>

    </div>
</section>
<!-- Barisan 3 -->

