.menu {
  

  position: fixed;
  bottom: 25px;
  width: 7.2%;
  right: 2px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  /* background-color: #b3b3b3; */
  border-radius: 100%;
  color: white;
  cursor: pointer;
  padding:;


}

.wa{
  width: 80%;
 
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .menu {
    width: 8.2%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .menu {
    width: 12.2%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .menu {
    width: 19.2%;
  }
}


@media (min-width: 320px) and (max-width: 480px) {
  .menu {
    width: 20.2%;
  }
} 

  


  a.menu .image-wa-2{display:none}
  a.menu:hover .image-wa-1 {display:none}
  a.menu:hover .image-wa-2 {display:inline}


  .scroll_To_Top {
    display: none;
    position: fixed;
    bottom: 115px;
    width: 3.2%;
    right: 40px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #b3b3b3;
    border-radius: 100%;
    color: white;
    cursor: pointer;
    padding:;
    border: 2px solid #919090;
    
  }
  
  .scroll_To_Top:hover {
    background-color: #ffd14e;
    border: 2px solid #fdc52b;
    border-radius: 100%;
  }

  .up{
    width: 80%;
    padding: 10px 0px;
    padding-left: 7px;

    
  }
  @media (min-width: 1025px) and (max-width: 1280px) {
    .scroll_To_Top {
      width: 3.3%;
      right: 28px;
      bottom: 106px;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .scroll_To_Top {
      width: 4.3%;
      right: 28px;
      bottom: 106px;
    }
  }

  @media (min-width: 481px) and (max-width: 767px) {
    .scroll_To_Top {
      width: 4.3%;
      right: 30px;
      bottom: 126px;
    }
  }
  

  @media (min-width: 320px) and (max-width: 480px) {
    .scroll_To_Top {
      width: 11.3%;
      right: auto;
      right: 20px;
      
      bottom: 116px;
    }
    .up{
      width: 10%;
      padding: 10px 0px;
      padding-left: 7px;
  } 



  /* 

@media (min-width: 1025px) and (max-width: 1280px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (min-width: 481px) and (max-width: 767px) {
}
@media (min-width: 320px) and (max-width: 480px) {
} 

*/
