a.pic .image2{display:none}
a.pic:hover .image1 {display:none}
a.pic:hover .image2 {display:inline}


@media (min-width: 768px) and (max-width: 1024px) {
    a.pic .image2{display:inline}
    a.pic .image1{display:none}
}
@media (min-width: 481px) and (max-width: 767px) {
    a.pic .image2{display:inline}
    a.pic .image1{display:none}
   
}

@media (min-width: 320px) and (max-width: 480px) {
    a.pic .image2{display:inline}
    a.pic .image1{display:none}
} 





@media (min-width: 768px) and (max-width: 1024px) {
    #gede{
        width: 219px;
        margin-top:0px;
        margin-bottom:10px;
       
    }
}
@media (min-width: 481px) and (max-width: 767px) {
}
@media (min-width: 320px) and (max-width: 480px) {
    .gede{
        width: 179px;
        margin-top:10px;
        margin-bottom:12px;
       
    }
} 




@media (min-width: 768px) and (max-width: 1024px) {
    #kecilin{
        width: 80%;
        margin-top:0px;
        margin-bottom:10px;
        margin-left: 50px;
        
       
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    #kecilin{
        
        width: 80%;
        margin-top:0px;
        margin-bottom:10px;
        margin-left: 50px;
       
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    #kecilin{
        width: 95%;
        margin-top:0px;
        margin-bottom:10px;
        margin-left: 5px;
       
    }
} 






.brca {
    width: 259px;
    margin-left: 100px;
    margin-top:15px;
    margin-bottom:21px;
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .brca {
        width: 199px;
        margin-top:0px;
        margin-bottom:10px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    #brca{
        width: 219px;
        margin-top:0px;
        margin-bottom:10px;
       
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .brca{
        width: 179px;
        margin-top:10px;
        margin-bottom:12px;
       
    }
} 

#brca-image{
    width: 259px;
    margin-top:15px;
    margin-bottom:21px;
    margin-left:46px;
}

@media (min-width: 1025px) and (max-width: 1280px) {
#brca-image{
        width: 245px;
        margin-top:0px;
        margin-bottom:10px;
        margin-left:23px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    #brca-image{
        width: 60%;
        margin-top:10px;
        margin-bottom:12px;
        margin-left:82px;
       
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    #brca-image{
        width: 60%;
        margin-top:10px;
        margin-bottom:12px;
        margin-left:79px;
     
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    #brca-image{
        width: 80%;
        margin-top:10px;
        margin-bottom:12px;
        margin-left: 20px;
        
    }
} 



@font-face {
    font-family: "GothamRounded-Book";
    src: url('../bootstrap/fonts/GothamRounded-Book.otf');
    }

.caption-judul {
  font-family: "GothamRounded-Book";
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: justify;
  color: #9f790e;
  margin-top: -5px;
  z-index: 1;
  -webkit-transition: color 0.3s, background-color 0.3s, padding 0.9s, opacity: 0.9s;
          transition: color 0.3s, background-color 0.3s, padding 0.9s ;
  }

  @media (min-width: 1025px) and (max-width: 1280px) {
    .caption-judul {
        font-size: 14.8px;
        }
    }
    @media (min-width: 768px) and (max-width: 1024px) {
        .caption-judul {
            margin-bottom: -20px;
            }
        }
    }
    @media (min-width: 481px) and (max-width: 767px) {
       .caption-judul {
           margin-bottom: -15px;
       }
    }
    @media (min-width: 320px) and (max-width: 480px) {
        .caption-judul {
            font-size: 14.9px;
            margin-bottom:-15px;
            }
    } 

  .the-grid .row .thumbnail{
    border: 0px;
    box-shadow: none;
    border-radius:0px;
    margin-top: 45px;
    }




